<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="chkHideTaskbar" value="0"/>
    <add key="chkShowPrimaryBorder" value="1"/>
    <add key="txtColorPrimaryR" value="255"/>
    <add key="txtColorPrimaryG" value="255"/>
    <add key="txtColorPrimaryB" value="255"/>
    <add key="txtPrimaryBorderWidth" value="2"/>
    <add key="chkShowSecondaryBorder" value="1"/>
    <add key="txtColorSecondaryR" value="0"/>
    <add key="txtColorSecondaryG" value="0"/>
    <add key="txtColorSecondaryB" value="0"/>
    <add key="txtSecondaryBorderWidth" value="3"/>
    <add key="chkShowBorderImage" value="0"/>
    <add key="txtBorderLocation" value=""/>
    <add key="txtProcess" value=""/>
    <add key="txtBorderOffset" value="25"/>
    <add key="chkEdgeClickReload" value="1"/>
    <add key="chkCloseMode" value="0"/>
    <add key="chkOnlyMatchWherePointing" value="0"/>
    <add key="chkAntiJitter" value="0"/>
    <add key="chkShowVideo" value="1"/>
    <add key="chkShowRectangle" value="1"/>
    <add key="chkShowRawVideo" value="1"/>
    <add key="txtAdjustX" value=""/>
    <add key="txtAdjustY" value=""/>
    <add key="txtJitter" value="1"/>
    <add key="txtRes" value="0"/>
    <add key="txtExposure" value=""/>
    <add key="txtCameraZoom" value="0"/>
    <add key="txtCameraContrast" value="50"/>   
    <add key="txtCameraBrightness" value="100"/>
    <add key="txtBrightnessAdjust" value="0"/>
    <add key="lstCom" value="0"/>
    <add key="camera1Combo" value="0"/>
    <add key="txtXOffset" value="0"/>
    <add key="txtXRatio" value="01"/>
    <add key="txtYOffset" value="0"/>
    <add key="txtYRatio" value="01"/>
    <add key="txtYSightOffset" value="4.9"/>
    <add key="chkLicense" value="0"/>
    <add key="txtFilterRadius" value="220"/>
    <add key="txtHue" value="0"/>
    <add key="txtSaturation" value="40"/>
    <add key="txtWhiteBal" value="4500"/>
    <add key="chkAutoAdjustAlignmentBorder" value="1"/>
    <add key="SelectedLightgun" value=""/>
    <add key="chkSleepEnabled" value="1"/>
    <add key="txtSleepPeriod" value="5"/>
    <add key="chkAutoStart" value="0"/>
    <add key="chkHideBorder" value="1"/>
    <add key="chkForce43Border" value="0"/>
    <add key="chkCycle43Border" value="1"/>
    <add key="chkEnableSightOffset" value="1"/>
    <add key="chkNewOffscreen" value="1"/>
    <add key="txtSelectMonitorForBorder" value="0"/>
    
    <add key="chkStartInTray" value="0"/>
    <add key="chkMinimizeToTray" value="0"/>
    <add key="chkAutoDetect" value="1"/>
    <add key="SavedCameraName" value=""/>
    <add key="chkRecoilTerms" value="0"/>
    <add key="chkEnableRecoil" value="0"/>
    <add key="chkRecoilTrigger" value="1"/>
    <add key="chkRecoilTriggerOffscreen" value="0"/>
    <add key="chkRecoilPumpActionOnEvent" value="1"/>
    <add key="chkRecoilPumpActionOffEvent" value="1"/>
    <add key="chkRecoilFrontLeft" value="0"/>
    <add key="chkRecoilFrontRight" value="0"/>
    <add key="chkRecoilBackLeft" value="0"/>
    <add key="chkRecoilBackRight" value="0"/>
    <add key="trkRecoilStrength" value="100"/>
    <add key="radTriggerRecoilNormal" value="1"/>
    <add key="radTriggerRecoilRepeat" value="0"/>
    <add key="trkRecoilSlider" value="50"/>
    <add key="trkStartDelay" value="0"/>
    <add key="trkDelayBetweenPulses" value="9"/>
    <add key="chkRecoilAlternative" value="0"/>
    <add key="txtTvDiag" value="50"/>
    <add key="txtTvHeight" value="24.51"/>
    <add key="radInches" value="1"/>
    
    <add key="chkEnableCalibration" value="1"/>
    <add key="chkAutosaveCalibration" value="0"/>
    <add key="chkAutosaveCalibrationOnLightgun" value="1"/>
    <add key="chkReadCalibration" value="1"/>
    <add key="ResetExposureDuration" value="1000"/>
    
    
    <add key="txtOffsetX1" value="0"/>
    <add key="txtXRatio1" value="1"/>
    <add key="txtOffsetY1" value="0"/>
    <add key="txtYRatio1" value="1"/>
    <add key="txtAlignmentDescription1" value=""/>
    <add key="txtOffsetX2" value="0"/>
    <add key="txtXRatio2" value="1"/>
    <add key="txtOffsetY2" value="0"/>
    <add key="txtYRatio2" value="1"/>
    <add key="txtAlignmentDescription2" value=""/>
    <add key="txtOffsetX3" value="0"/>
    <add key="txtXRatio3" value="1"/>
    <add key="txtOffsetY3" value="0"/>
    <add key="txtYRatio3" value="1"/>
    <add key="txtAlignmentDescription3" value=""/>
    <add key="txtOffsetX4" value="0"/>
    <add key="txtXRatio4" value="1"/>
    <add key="txtOffsetY4" value="0"/>
    <add key="txtYRatio4" value="1"/>
    <add key="txtAlignmentDescription4" value=""/>
    <add key="txtOffsetX5" value="0"/>
    <add key="txtXRatio5" value="1"/>
    <add key="txtOffsetY5" value="0"/>
    <add key="txtYRatio5" value="1"/>
    <add key="txtAlignmentDescription5" value=""/>
    <add key="txtOffsetX6" value="0"/>
    <add key="txtXRatio6" value="1"/>
    <add key="txtOffsetY6" value="0"/>
    <add key="txtYRatio6" value="1"/>
    <add key="txtAlignmentDescription6" value=""/>
    
    <add key="cbButtonTrigger" value="1"/>
    <add key="cbButtonPumpAction" value="3"/>
    <add key="cbButtonFrontLeft" value="3"/>
    <add key="cbButtonRearLeft" value="2"/>
    <add key="cbButtonFrontRight" value="9"/>
    <add key="cbButtonRearRight" value="7"/>
    <add key="cbButtonUp" value="74"/>
    <add key="cbButtonDown" value="75"/>
    <add key="cbButtonLeft" value="76"/>
    <add key="cbButtonRight" value="77"/>
    
    <add key="cbTriggerMod" value="0"/>
    <add key="cbPumpActionMod" value="0"/>
    <add key="cbFrontLeftMod" value="0"/>
    <add key="cbRearLeftMod" value="0"/>
    <add key="cbFrontRightMod" value="0"/>
    <add key="cbRearRightMod" value="0"/>
    <add key="cbUpMod" value="0"/>
    <add key="cbDownMod" value="0"/>
    <add key="cbLeftMod" value="0"/>
    <add key="cbRightMod" value="0"/>
  
    <add key="cbButtonTriggerOffscreen" value="3"/>
    <add key="cbButtonPumpActionOffscreen" value="3"/>
    <add key="cbButtonFrontLeftOffscreen" value="3"/>
    <add key="cbButtonRearLeftOffscreen" value="2"/>
    <add key="cbButtonFrontRightOffscreen" value="13"/>
    <add key="cbButtonRearRightOffscreen" value="7"/>
    <add key="cbButtonUpOffscreen" value="74"/>
    <add key="cbButtonDownOffscreen" value="75"/>
    <add key="cbButtonLeftOffscreen" value="76"/>
    <add key="cbButtonRightOffscreen" value="77"/>
    
    <add key="cbTriggerOffscreenMod" value="0"/>
    <add key="cbPumpActionOffscreenMod" value="0"/>
    <add key="cbFrontLeftOffscreenMod" value="0"/>
    <add key="cbRearLeftOffscreenMod" value="0"/>
    <add key="cbFrontRightOffscreenMod" value="0"/>
    <add key="cbRearRightOffscreenMod" value="0"/>
    <add key="cbUpOffscreenMod" value="0"/>
    <add key="cbDownOffscreenMod" value="0"/>
    <add key="cbLeftOffscreenMod" value="0"/>
    <add key="cbRightOffscreenMod" value="0"/>
    
    <add key="cbBorderKey" value="2"/>
  <add key="cbBorderKeyMod" value="1"/>


  </appSettings>
</configuration>
